{% extends "../pages/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="/static/drives.css">
<link rel="stylesheet" href="/static/coordinator.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock head %}
{% block body %}
<div class="drives_main_container">
  <span>On Campus Drives</span>
  <div class="drive_flex_wrapper">
    <div class="drives_container" style="margin-right:50px; margin-left:60px">
      {% for drive in drives %}
      <div class="drive_item">
        <div class="drive_img"><img src="/media/images/{{drive.drive_img}}" alt=""></div>
        <div class="drive_contents">
          <div class="drive_name">{{drive.drive_name}}</div>
          <div class="drive_desc">{{drive.drive_role}}</div>
          <div class="drive_price">
            {{drive.drive_pckg}}</div>
          <div class="reg_button">
            <a href="/regdrive/{{drive.id}}" style="text-decoration:none"><button>Details &nbsp; <i class="fas fa-arrow-right"></i></button></a>
          </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock body %}

