{% extends "../pages/base.html" %}
{% load static %}
{% block title %}
Group Discussion
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/static/test.css">
<style>
    .div1{
        margin-left:5%;
        font-size:18px;
        {% comment %} line-height: 0.9; {% endcomment %}
    }
    .div2{
        margin-left:5%;
        font-size:18px;
    }
    .div3{
        margin-left:5%;
        font-size:18px;
    }
    .div4{
        margin-left:5%;
        font-size:18px;
    }
    .div5{
        margin-left:5%;
        {% comment %} font-size:18px; {% endcomment %}
    }
    h1{
        margin-left:2%; 
        margin-top:2%;
    }
</style>

{% endblock head %}
{% block body %}
	<br><br><br>
	<h1 class="h1">Group Discussion</h1>
	<br>
    
    <div class="div5">
        <iframe width="320" height="245" src="https://www.youtube.com/embed/BguYUJ7cWrs">
        </iframe>
        <iframe style="margin-left:40px" width="320" height="245" src="https://www.youtube.com/embed/3w32jIsRlsw">
        </iframe>
    </div> 
    <br><br>
    <p>
        <h2 style="margin-left:2%">How To Takepart In A Group Discussion In An Interview?</h2>
        <div class="div1">   
        1. Know about the current topics
            Usually, employers prefer asking current topics for a GD. To prepare in advance for the GD, consider reading a newspaper and magazine and watching television regularly to stay up-to-date with the current topics.
        <br>2. Practice before the group discussion 
            To excel in your group discussion, participate in a mock GD and practice the situation before attending the interview process. 
        <br>3. Practice time management
            As the entire discussion lasts for only 10-15 minutes, it is essential to practice time management. 
        <br>4. Define the topic
            Making an assertive statement at the start can help you attract the employer's attention. 

        <br>5. Listen to what others are saying
            Listening skills are essential in a group discussion because it helps understand the topic others are discussing and show respect for others' viewpoints. 
        
{% comment %} 
        <br>6. Avoid deviating from the topic
            If someone is drifting away from the topic during a discussion, try to bring back the discussion on the topic. Straying away or deviating from the discussion is not acceptable. 

        <br>7. Summarise the discussion
            After the moderator gestures to end the discussion, be the first one to summarise the GD and highlight the essential points. {% endcomment %}
    </p>
</div>
<br>
<h2 style="margin-left:2%">Tips For Participating In Group Discussion</h2>
<div class="div2">
   1. Initiate the discussion
A group discussion allows you to lead the discussion. When the GD moderator announces a certain topic, try to grasp some ideas, write important points and start the discussion. 
<br>
2. Avoid being aggressive
When discussing a topic with a group, staying firm on your ideas is essential. If you have a conflict of interest with other candidates, avoid getting aggressive to prove your point to others. 
<br>
3. Improve your thinking and communication
Clearly conveying your thought process and viewpoints is essential for group discussion. 
<br>
4. Showcase your teamwork
Group discussion is a teamwork skill and represents how well you can connect with others in a team environment.
<br>
5. Show your confidence
Confidence is the key to your success in a group discussion. Showing confidence in your abilities and knowledge of the subject can differentiate you from others. 
<br>
6. Dress professionally
While wearing the right clothes might be the last thing on your mind, dressing professionally can reflect your professionalism. It is essential to wear formal attire. 
<br>
7. Be polite during the discussion
Another thing to keep in mind while disagreeing with someone's viewpoint is speaking politely and presenting your opinion without raising your voice.
<br>
8. Avoid dominance during the discussion
Leading a discussion is different from dominating it. As you are discussing a point, give a chance to other speakers.
</div>
<br>
<h2 style="margin-left:2%">Steps of Effective Group Discussion</h2>
<div class="div3">
    A GD is a method used by organisations to analyse the skills of candidates and decide whether their personality traits are desirable for the job or not.

While facing a GD, the following steps should be performed:<br><br>

*Initiate<br>
*Lead<br>
*Summarise<br><br>

<h3>Initiate</h3>
If you want to quickly grab the attention of assessors, then start the GD. However, you must have good knowledge or understanding of the subject being discussed. <br>To make your speech more interesting, you can start with a relevant quote or a short/interesting story; but keep track of time.

<h3>Lead</h3>
There might be a situation when you do not have enough knowledge to start a discussion. In that case, wait, watch and listen to others. <br>As soon as you get an opening, jump in and take charge. Move the conversation forward to make it impactful. However, remember not to over-drag the topic. Sometimes, less is more.

<h3>Summarise</h3>
Closing a GD is another opportunity to get the attention of the evaluators. Recap the discussion, connect the dots, highlight the key points and summarise them.<br> Make sure that the summary includes both the positive and negative viewpoints on the topic presented by the candidates.
<br><br>
</div>
<div class="div4">
    <h3>Common GD Topics</h3>
1) Can we dream of hosting the Olympics?<br>
2) EQ or IQ<br>
3) Economic growth is more important than Ecological protection<br>
4) Solution of corruption is a mirage till we catch top public figure<br>
5) Non execution of GST bill might herald end of present government<br>
6) Is the youth of India confident or confused?<br>
7) Youth in Politics<br>
8) Chinese Goods vs Indian Goods<br>
9) Is compulsory attendance really needed in college?<br>
10) Should national anthem be played in cinema halls?<br><br>
</div>
{% comment %} <h2 style="margin-left:2%">References</h2><br> {% endcomment %}
    
<br><br>
</body>
</html>
{% endblock body %}